<!-- <div class="absolute inset-0 z-negative lg:opacity-100 opacity-50">
  <video
    src="https://vod-progressive.akamaized.net/exp=1580773205~acl=%2A%2F1212071806.mp4%2A~hmac=1d90e58d286a9b4a3d720a75908d425491056d9ad52531be251fe5367aa65779/vimeo-prod-skyfire-std-us/01/2834/12/314172230/1212071806.mp4"
    autoplay
    muted
    loop
    class="object-cover w-full h-full"
  ></video>
</div> -->
<div
  class="w-screen h-screen flex flex-grow flex-col justify-center items-center"
>
  <div class="bg-gray-300 w-auto h-auto p-4 flex shadow">
    <select
      [(ngModel)]="radiusInput"
      name="Radius"
      id=""
      class="m-2 px-2 block appearance-none bg-gray-200 border border-gray-200 text-gray-700 rounded focus:outline-none focus:bg-gray-100 focus:border-gray-500"
    >
      <option value="none">none</option>
      <option value="5">5 miles</option>
      <option value="10">10 miles</option>
      <option value="15">15 miles</option>
      <option value="20">20 miles</option>
      <option value="25">25 miles</option>
    </select>
    <select
      [(ngModel)]="typeInput"
      name="Sort Type"
      id=""
      class="m-2 px-2 block appearance-none bg-gray-200 border border-gray-200 text-gray-700 rounded focus:outline-none focus:bg-gray-100 focus:border-gray-500"
    >
      <option value="name">name</option>
      <option value="relevance">relevance</option>
      <option value="distance">distance</option>
    </select>
    <select
      [(ngModel)]="directionInput"
      name="Sort Direction"
      id=""
      class="m-2 px-2 block appearance-none bg-gray-200 border border-gray-200 text-gray-700 rounded focus:outline-none focus:bg-gray-100 focus:border-gray-500"
    >
      <option value="asc">ascending</option>
      <option value="desc">descending</option>
    </select>
    <input
      [(ngModel)]="zipcodeInput"
      class="m-2 px-2"
      type="text"
      placeholder="zipcode"
    />
    <input
      [(ngModel)]="keywordInput"
      class="m-2 px-2"
      type="text"
      placeholder="event keyword"
    />
    <button
      (click)="open($event)"
      class="bg-yellow-400 px-4 py-2 m-2 rounded text-yellow-900 shadow hover:bg-yellow-500"
    >
      Search
    </button>
    <button
      (click)="clear($event)"
      class="bg-gray-400 px-4 py-2 m-2 rounded text-gray-900 shadow hover:bg-gray-500"
    >
      Clear
    </button>
  </div>

  <div
    *ngIf="!emptyQuery(queryResponseLength)"
    class="event-window w-10/12 flex flex-row flex-wrap justify-center"
  >
    <app-event-tile
      *ngFor="let event of queryResponse"
      [event]="event"
      [className]="'m-2'"
    ></app-event-tile>
  </div>

  <div
    *ngIf="emptyQuery(queryResponseLength)"
    class="bg-gray-400 opacity-50 flex justify-center items-center text-center text-bold"
  >
    <p>
      Sorry! Looks like there are no matches for your search :(
    </p>
  </div>
</div>

<router-outlet></router-outlet>
